<html>
<body>
<form>


<input type='text' name='fname'  id='chatinput'>
    <div id ="textarea"></div>
</form>
<script>

var inputBox = document.getElementById('chatinput');

inputBox.onkeyup = function(){
    var word =  inputBox.value;
        $.ajax({
                url: '{% url "search:wordtext" %}',
                data: {
                    'word': word
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data,"desde");
                        document.getElementById("textarea").innerHTML = "bfbvcvc,gsgsdf";

<!--                        $('#loginemail').val('');-->



                }

            });

}


</script>


</body>
</html>