
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SEARCH WORDS</title>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<style>
    #chatinput{
    margin-left: 222px;
    margin: 100px;
    padding: 23px;
    padding-left: 114px;
    border-block-end-color: blue;
    left: auto;
}
</style>
</head>
<body>
<form>
<h1>Search words</h1>

<input type='text' name='fname'  id='chatinput' placeholder="SEARCH WORD">
</form>
<script>

var inputBox = document.getElementById('chatinput');

inputBox.onkeyup = function(){
    console.log( inputBox.value);
    $.ajax({
                url: '{% url "search:wordtext" %}',
                data: {
                    'word': word
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data,"desde");
                        document.getElementById("textarea").innerHTML = "bfbvcvc,gsgsdf";

<!--                        $('#loginemail').val('');-->



                }

            });

}


</script>


</body>
</html>